#Problem Statement
pid is the primary key (column with unique values) for this table.
Each row of this table contains information about one policy where:
pid is the policyholder's policy ID.
tiv_2015 is the total investment value in 2015 and tiv_2016 is the total investment value in 2016.
lat is the latitude of the policy holder's city. It's guaranteed that lat is not NULL.
lon is the longitude of the policy holder's city. It's guaranteed that lon is not NULL.
 

Write a solution to report the sum of all total investment values in 2016 tiv_2016, for all policyholders who:

have the same tiv_2015 value as one or more other policyholders, and
are not located in the same city as any other policyholder (i.e., the (lat, lon) attribute pairs must be unique).
Round tiv_2016 to two decimal places.

The result format is in the following example.

In [0]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, sum, round

# Initialize Spark session
spark = SparkSession.builder.appName("InsuranceAnalysis").getOrCreate()

# Sample data
data = [
    (1, 10, 5, 10, 10),
    (2, 20, 20, 20, 20),
    (3, 10, 30, 20, 20),
    (4, 10, 40, 40, 40)
]

# Create DataFrame
columns = ["pid", "tiv_2015", "tiv_2016", "lat", "lon"]
df = spark.createDataFrame(data, columns)

In [0]:
df.display()

pid,tiv_2015,tiv_2016,lat,lon
1,10,5,10,10
2,20,20,20,20
3,10,30,20,20
4,10,40,40,40

In [0]:
df.createOrReplaceTempView("Insurance")

In [0]:
%sql
--Write your MySQL query statement below
SELECT ROUND(SUM(tiv_2016), 2) AS tiv_2016
FROM Insurance
WHERE tiv_2015 IN (
    SELECT tiv_2015
    FROM Insurance
    GROUP BY tiv_2015
    HAVING COUNT(*) > 1
)
AND (lat, lon) IN (
    SELECT lat, lon
    FROM Insurance
    GROUP BY lat, lon
    HAVING COUNT(*) = 1
);

tiv_2016
45