One of the SQL questions recently asked in Movate interview.
Given us two tables, find out the result from the combination of 2 input tables.

In order to solve this questions, we used windows function - rownumber. And also used group by count in another method.

In [0]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, IntegerType, StringType

# Create a Spark session
spark = SparkSession.builder.appName("Create Tables").getOrCreate()

# Define the schema for tablea and tableb
schema = StructType([
    StructField("empid", IntegerType(), True),
    StructField("empname", StringType(), True),
    StructField("salary", IntegerType(), True)
])

# Data for tablea
data_tablea = [
    (1, 'AA', 1000),
    (2, 'BB', 300)
]

# Data for tableb
data_tableb = [
    (2, 'BB', 400),
    (3, 'CC', 100)
]

# Create DataFrames for tablea and tableb
df_tablea = spark.createDataFrame(data_tablea, schema)
df_tableb = spark.createDataFrame(data_tableb, schema)

# Show the contents of the DataFrames
df_tablea.display()
df_tableb.display()

empid,empname,salary
1,AA,1000
2,BB,300

empid,empname,salary
2,BB,400
3,CC,100

In [0]:
df_tablea.createOrReplaceTempView('tablea')
df_tableb.createOrReplaceTempView('tableb')

In [0]:
%sql
with cte as
(
Select * from tablea
union all
Select * from tableb
)
Select empid,empname, min(salary) as salary from cte 
group by empid,empname

empid,empname,salary
1,AA,1000
2,BB,300
3,CC,100